language: node_js
# os: osx specify operatin system

cache:
  directories:
    - node_modules
    - ~/.npm

node_js:
  - "12"

git:
  depth: 3

branches:
  only:
    - master
    - production
    - dev

before_install:
  - if [[ $TRAVIS_BRANCH == "master" ]]; then
    export IS_PRODUCTION=true;
    else
    export IS_PRODUCTION=false;
    fi

script:
  - npm run build

# deploy:
#   provider: pages
#   skip_cleanup: true
#   keep_history: true
#   github_token: $GH_TOKEN
#   local_dir: build/
#   target_branch: gh-pages
#   commit_message: "Sucessfull deploy from travis"
#   on:
#     branch: master

deploy:
  provider: netlify
  site: 60307073-3832-40ac-bbb3-8c768b4768a3
  auth: $NL_TOKEN
  dir: "build"
  message: "Deploy from Travis"
  prod: IS_PRODUCTION
  edge: true
