language: node_js
# os: osx specify operatin system

cache:
  directories:
    - node_modules
    - ~/.npm

node_js:
  - "12"

git:
  depth: 3

branches:
  only:
    - master
    - production
    - dev

script:
  - npm run build

# deploy:
#   provider: pages
#   skip_cleanup: true
#   keep_history: true
#   github_token: $GH_TOKEN
#   local_dir: build/
#   target_branch: gh-pages
#   commit_message: "Sucessfull deploy from travis"
#   on:
#     branch: master

deploy:
  provider: netlify
  site: hungry-blackwell-9a0020
  auth: $NL_TOKEN
  edge: true # opt in to dpl v2
